*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Handjet', sans-serif;
font-family: 'Noto Sans', sans-serif;
}

.header{
    /* border: 1px solid red; */
display: flex;
justify-content: space-between;
flex:2;
padding:0 17px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:2;
}

nav p a{
    text-decoration: none;
    color:black;
}

.header-bar{
    display:none;
}

@media (max-width:425px) {
   
    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0;
        /* border:1px solid red; */
    }
    
    .header-title{
        font-size:1rem;
    }

    .header-btm{
        display:none;
    }

    .header nav{
        display:none;
    }

    .header-bar{
        display:block;
        width: 1.5rem;
        height: 1.5rem;
        border:none;
    }

}

 .intro{
    text-align: center;
    padding:10rem 0;
}

.intro h1{
    max-width:30ch;
    font-size: 3.5rem;
    
    margin:0 auto;
    line-height:1.2;
    letter-spacing: -0.09rem;
}

.intro p{
    max-width:45ch;
    margin-inline:auto;
    padding:2rem 0;
}

@media (max-width:425px){
    .intro{
        padding:3.6rem 0;
    }
    .intro h1{
        font-size:2.1rem;
    }
    .intro p{
        font-size:0.8rem;
        padding:1rem 0;
    }

    .learn{
        font-size:0.8rem;
    }
}


.price-intro{
    max-width:34ch;
    padding-bottom:20px;
    line-height: 1;
    letter-spacing: -0.05rem;
    font-size:1.4rem;
    color:#000;
}


.price-intro p{
    margin-top:0.3rem;
   font-size:0.7rem;
}
.price{
    font-size:3rem;
    font-weight: 600;
    /* border:1px solid red; */
}

.box{
    flex:2;
    background-color: black;
    color:aliceblue;
    padding:2rem;
    border-radius: 10px;
    line-height: 1.4;
    min-width:370px;
}


.box button{
    width:100%;
    margin: 0 auto;
    border-radius: 500000px;
    padding:0.5rem 1rem;
    margin:2rem 0;
}


.price-header{
    font-size:1.25rem;
    font-weight: 300;
}

.pricing-module{
    display:flex;
    gap:2rem;
    /* border:1px solid red; */

}

.pricing-feature{
    color:#ccc;
}


@media (max-width:425px) {

  
    .price-intro h2{
        font-size:0.8rem;
    }
    
    .price-intro p{
        font-size:0.4rem;
    }
    .pricing-module{
        flex-wrap:wrap;
        gap:0.5rem;

    }
    
    .box{
        padding:1.7rem;
    }

    .box button{
        font-size:0.5rem;
        padding:0.2rem 0.8rem;
        margin: 0.8rem 0;
    }
    .price{
        font-size:1.5rem;
    }
    .price-header{
        font-size:1rem;
    }

    .price-desc{
        font-size:0.7rem;
    }

    .pricing-feature{
        font-size:0.7rem;
    }

    
}

.features-intro{
    font-size: 0.7rem;
    text-align: center;
    max-width: 40ch;
    margin: 80px auto 0;
}

.features-desc{
    display:flex;
    flex-wrap: wrap;
    gap:1.25rem;
    align-content: center;
    justify-content: center;;
}
.feature-box{
    border:1px solid black;
    max-width:50ch;
    margin:0.5rem 0;
    text-align: center;
    padding:0.9rem;
    border-radius: 14px;
}

@media (max-width:425px){
    .feature-box{
        font-size: 0.7rem;
    }

    .features-desc{
        gap:0.4rem;
    }
}

.reach-us{
    max-width: 50ch;
    margin:40px auto;
    text-align: center;
}

.reach-us button{
    padding:4px;
    margin:8px;
    background-color:black;
    border-radius: 5px;
    color:aliceblue;
}

@media (max-width:425px){
    .reach-us{
        margin:2.25rem auto;
    }

    .reach-us h1{
        font-size: 1rem;
    }

    .reach-us p{
        font-size:0.8rem;
        padding:0.2rem 0;
    }
}

.footer{
    text-align: center;
    margin:80px auto;
    
}
/*
*/

/* UTILITY CLASS*/

.container{
    width:90%;
    margin:0 auto;
}
.btm{
background-color: #000;
color:#fff;
padding:0.4rem;
border-radius: 17px;
border:1px solid aliceblue;    
}

.learn.btm{
    text-decoration: none;
} 
