*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Handjet', sans-serif;
font-family: 'Noto Sans', sans-serif;
}

.header{
    /* border: 1px solid red; */
display: flex;
justify-content: space-between;
flex:2;
padding:0 17px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:2;
}

nav p a{
    text-decoration: none;
    color:black;
}
.btm{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:13px;
    margin-right:20px;
    flex:1;
}

.btm *{
    padding:5px;
    background-color: black;
    color:aliceblue;
    border-radius: 5px;
    box-shadow: none;
    border:none;
}

main > *{
    border:1px solid red;
}

.intro{
    text-align: center;
    padding:10rem 0;
}

.intro h1{
    max-width:30ch;
    font-size: 50px;
    /* border:1px solid red; */
    margin:0 auto;
    line-height:1.2;
    letter-spacing: -0.09rem;
}

.intro p{
    max-width:45ch;
    margin-inline:auto;
    padding:2rem 0;
}



.price.text{
    max-width:45ch;
    padding-bottom:20px;
    line-height: 1.6;
    margin-left:30px;
}

.box{
    flex:2;
    background-color: black;
    color:aliceblue;
    padding:19px;
    border-radius: 7px;
    line-height: 2;
}

.price-intro, .box ul{
    font-size:12px;
}

.box button{
   display: block;
   margin: 0 auto;
}

.price{
    font-size:30px;
    font-weight: 600;
}

.price-header{
    font-size:20px;
    font-weight: 300;
}

.features-intro{

    text-align: center;
    max-width: 40ch;
    margin: 80px auto 0;
}

.features-desc{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-content: center;
    justify-content: center;;
}
.feature-box{
    border:1px solid black;
    max-width:50ch;
    margin:8px 0;
    text-align: center;
    padding:14px;
    border-radius: 14px;
}

.reach-us{
    max-width: 50ch;
    margin:40px auto;
    text-align: center;
}

.reach-us button{
    padding:4px;
    margin:8px;
    background-color:black;
    border-radius: 5px;
    color:aliceblue;
}

.footer{
    text-align: center;
    margin:80px auto;

}

/* UTILITY CLASS*/

.container{
    width:90%;
    margin:0 auto;
}
