*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Handjet', sans-serif;
font-family: 'Noto Sans', sans-serif;
}

.header{
    /* border: 1px solid red; */
display: flex;
justify-content: space-between;
flex:2;
padding:0 17px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:2;
}

nav p a{
    text-decoration: none;
    color:black;
}

.intro{
    text-align: center;
    padding:10rem 0;
}

.intro h1{
    max-width:30ch;
    font-size: 50px;
    
    margin:0 auto;
    line-height:1.2;
    letter-spacing: -0.09rem;
}

.intro p{
    max-width:45ch;
    margin-inline:auto;
    padding:2rem 0;
}



.price-intro{
    max-width:34ch;
    padding-bottom:20px;
    line-height: 1;
    letter-spacing: -0.05rem;
    font-size:1.4rem;
    color:#000;
}


.price-intro p{
    margin-top:0.3rem;
   font-size:0.7rem;
}

.box{
    flex:2;
    background-color: black;
    color:aliceblue;
    padding:2rem;
    border-radius: 10px;
    line-height: 1.4;
}


.box button{
    width:100%;
    margin: 0 auto;
    border-radius: 500000px;
    padding:0.5rem 1rem;
    margin:2rem 0;
}

.price{
    font-size:3rem;
    font-weight: 600;
}

.price-header{
    font-size:20px;
    font-weight: 300;
}

.pricing-module{
    display:flex;
    gap:2rem;
}

.pricing-feature{
    color:#ccc;
}

.features-intro{
    font-size: 0.7rem;
    text-align: center;
    max-width: 40ch;
    margin: 80px auto 0;
}

.features-desc{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-content: center;
    justify-content: center;;
}
.feature-box{
    border:1px solid black;
    max-width:50ch;
    margin:8px 0;
    text-align: center;
    padding:14px;
    border-radius: 14px;
}

.reach-us{
    max-width: 50ch;
    margin:40px auto;
    text-align: center;
}

.reach-us button{
    padding:4px;
    margin:8px;
    background-color:black;
    border-radius: 5px;
    color:aliceblue;
}

.footer{
    text-align: center;
    margin:80px auto;

}

/* UTILITY CLASS*/

.container{
    width:90%;
    margin:0 auto;
}
.btm{
background-color: #000;
color:#fff;
padding:0.4rem;
border-radius: 17px;
border:1px solid aliceblue;    
}

.learn.btm{
    text-decoration: none;
}
